<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      width: 1067px;
      height: 600px;
      margin: 0;
      padding: 0;
      background-size: cover;
    }
  </style>
  <title>ww-plugin</title>
  <link rel="stylesheet" href="./basic.css">
</head>

<body>
<div class="container">
  <div class="title">
    <img src="../../image/characters/icon/anke.png">
    <div class="name">
      <div>
        ROKI
      </div>
      <div class="uid">
        uid: 101544181
      </div>
    </div>
    <div class="logo">
      <img src="../../image/icon/logo-gold.png">
    </div>
  </div>
  <div class="explore">
    <div class="explore-block">
      <h2>
        1
      </h2>
      <h1>
        游戏天数
      </h1>
    </div>
    <div class="explore-block">
      <h2>
        1
      </h2>
      <h1>
        游戏天数
      </h1>
    </div>
    <div class="explore-block">
      <h2>
        1
      </h2>
      <h1>
        游戏天数
      </h1>
    </div>
    <div class="explore-block">
      <h2>
        1
      </h2>
      <h1>
        游戏天数
      </h1>
    </div>
    <div class="explore-block">
      <h2>
        1
      </h2>
      <h1>
        游戏天数
      </h1>
    </div>
    <div class="explore-block">
      <h2>
        1
      </h2>
      <h1>
        游戏天数
      </h1>
    </div>
    <div class="explore-block">
      <h2>
        1
      </h2>
      <h1>
        游戏天数
      </h1>
    </div>
    <div class="explore-block">
      <h2>
        1
      </h2>
      <h1>
        游戏天数
      </h1>
    </div>
    <div class="explore-block">
      <h2>
        1
      </h2>
      <h1>
        游戏天数
      </h1>
    </div>
    <div class="explore-block">
      <h2>
        1
      </h2>
      <h1>
        游戏天数
      </h1>
    </div>
    <div class="explore-block">
      <h2>
        1
      </h2>
      <h1>
        游戏天数
      </h1>
    </div>
    <div class="explore-block">
      <h2>
        1
      </h2>
      <h1>
        游戏天数
      </h1>
    </div>
  </div>
  <div class="role">
    <div class="role-title">
      共鸣者
    </div>
    <div class="role-list">
      <div class="role-block">
        <img src="https://web-static.kurobbs.com/adminConfig/27/role_icon/1716030969079.png">
        <div class="role-name">
          <div>
            <img src="../../image/icon/elements/T_IconElementLight3.png">
          </div>
          <div class="role-name-detail">
            漂泊者
            <div>
            </div>
          </div>
        </div>
        <div class="role-rarity-5"></div>
      </div>
      <div class="role-block">
        <img src="https://web-static.kurobbs.com/adminConfig/27/role_icon/1716030969079.png">
        <div class="role-name">
          <div>
            <img src="../../image/icon/elements/T_IconElementLight3.png">
          </div>
          <div class="role-name-detail">
            漂泊者
            <div>
            </div>
          </div>
        </div>
        <div class="role-rarity-5"></div>
      </div>
      <div class="role-block">
        <img src="https://web-static.kurobbs.com/adminConfig/27/role_icon/1716030969079.png">
        <div class="role-name">
          <div>
            <img src="../../image/icon/elements/T_IconElementLight3.png">
          </div>
          <div class="role-name-detail">
            漂泊者
            <div>
            </div>
          </div>
        </div>
        <div class="role-rarity-5"></div>
      </div>
      <div class="role-block">
        <img src="https://web-static.kurobbs.com/adminConfig/27/role_icon/1716030969079.png">
        <div class="role-name">
          <div>
            <img src="../../image/icon/elements/T_IconElementLight3.png">
          </div>
          <div class="role-name-detail">
            漂泊者
            <div>
            </div>
          </div>
        </div>
        <div class="role-rarity-5"></div>
      </div>
      <div class="role-block">
        <img src="https://web-static.kurobbs.com/adminConfig/27/role_icon/1716030969079.png">
        <div class="role-name">
          <div>
            <img src="../../image/icon/elements/T_IconElementLight3.png">
          </div>
          <div class="role-name-detail">
            漂泊者
            <div>
            </div>
          </div>
        </div>
        <div class="role-rarity-5"></div>
      </div>
      <div class="role-block">
        <img src="https://web-static.kurobbs.com/adminConfig/27/role_icon/1716030969079.png">
        <div class="role-name">
          <div>
            <img src="../../image/icon/elements/T_IconElementLight3.png">
          </div>
          <div class="role-name-detail">
            漂泊者
            <div>
              <img src="../../image/icon/metrics/star4.png" style="width: 100px; margin-left: -20px; margin-top: -5px">
            </div>
          </div>
        </div>
        <div class="role-rarity-5"></div>
      </div>
    </div>

  </div>

  <div class="datawu">
    <div class="datawu-title">
      数据船
    </div>
    <div class="datawu-detail">
      <div class="hulu">
        <div>4</div>
      </div>
      <div class="datawu-chart">
        <div class="datawu-chart-line datawu-chart-line-light">
          <div class="datawu-chart-line-key">
            基础吸收概率
          </div>
          <div class="datawu-chart-line-value">
            15%
          </div>
        </div>
        <div class="datawu-chart-line datawu-chart-line-dark">

        </div>
        <div class="datawu-chart-line datawu-chart-line-light">

        </div>
        <div class="datawu-chart-line datawu-chart-line-dark">

        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    Created by Karin & karin-plugin-ww
  </div>
</div>

</body>

</html>
