<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      width: 1067px;
      height: 600px;
      margin: 0;
      padding: 0;
      background-size: cover;
    }
  </style>
  <title>ww-plugin</title>
  <link rel="stylesheet" href="{{pluResPath}}/template/role/role.css">
</head>

<body>
<div class="container">
  <div class="character">
    <div class="left">
      <img class="logo" src="{{pluResPath}}/image/icon/logo-gold.png">
      <img class="portrait" src="{{pluResPath}}/image/characters/full/{{data.role.roleId}}.png">
    </div>
    <div class="character-details">
      <div class="character-details-name">
        {{if data.role.attributeName === '衍射'}}
        <img src="{{pluResPath}}/image/icon/elements/T_IconElementLight3.png">
        {{else if data.role.attributeName === '气动'}}
        <img src="{{pluResPath}}/image/icon/elements/T_IconElementWind3.png">
        {{else if data.role.attributeName === '热熔'}}
        <img src="{{pluResPath}}/image/icon/elements/T_IconElementFire3.png">
        {{else if data.role.attributeName === '冷凝'}}
        <img src="{{pluResPath}}/image/icon/elements/T_IconElementIce3.png">
        {{else if data.role.attributeName === '湮灭'}}
        <img src="{{pluResPath}}/image/icon/elements/T_IconElementDark3.png">
        {{else}}
        <img src="{{pluResPath}}/image/icon/elements/T_IconElementThunder3.png">
        {{/if}}
        {{data.role.roleName}}
        <div class="rank">
          {{data.chainList.filter(i => i.unlocked).length}}
        </div>
      </div>
      <div class="star5">
        <img src="{{pluResPath}}/image/icon/metrics/star{{data.role.starLevel}}.png">
        <div class="level">
          {{data.level}}级
        </div>
      </div>
      <div class="weapon weapon-rare{{data.weaponData.weapon.weaponStarLevel}}">
        <img src="{{data.weaponData.weapon.weaponIcon}}">
        <div class="description">
          <div class="description-name">{{data.weaponData.weapon.weaponName}} Lv.{{data.weaponData.level}}</div>
          <div class="description-skill">{{data.weaponData.weapon.weaponEffectName}}</div>
          <div class="description-skill-detail">{{data.weaponData.weapon.effectDescription}}</div>
        </div>
      </div>
      <div class="phantom">
        {{each data.phantomData.equipPhantomList phantom i}}
        <div class="phantom-block phantom-block-rare{{phantom.quality}}">
          <img src="{{phantom.phantomProp.iconUrl}}">
          <div>{{phantom.phantomProp.name}}</div>
          <div style="display: flex; align-items: center">
            <img class="phantom-icon"  src="{{phantom.fetterDetail.iconUrl}}">
            COST{{phantom.cost}}
          </div>
        </div>
        {{/each}}
      </div>
      <div class="skill">
        {{each data.skillList skill i}}
        <div class="skill-block">
          <img class="skill-icon" src="{{skill.skill.iconUrl}}">
          <span>
            LV.{{skill.level}}
          </span>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="footer">
    Created by Karin & karin-plugin-ww
  </div>
</div>

</body>

</html>
