<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      width: 1067px;
      height: 535px;
      margin: 0;
      padding: 0;
      background-size: cover;
    }
  </style>
  <title>ww-plugin</title>
  <link rel="stylesheet" href="./role.css">
</head>

<body>
<div class="container">
  <div class="character">
    <div class="left">
      <img class="logo" src="../../image/icon/logo-gold.png">
      <img class="portrait" src="../../image/characters/full/1203.png">
    </div>

    <div class="character-details">
      <div class="character-details-name">
        <img src="../../image/icon/elements/T_IconElementFire3.png">
        安可 Encore
        <div class="rank">
          1
        </div>
      </div>
      <div class="star5">
        <img src="../../image/icon/metrics/star5.png">
        <div class="level">
          60级
        </div>
      </div>
      <div class="weapon">
        <img src="https://web-static.kurobbs.com/adminConfig/29/weapon_icon/1716030600577.png">
        <div class="description">
          <div class="description-name">异度</div>
          <div class="description-skill">重光护持</div>
          <div class="description-skill-detail">造成普攻或重击伤害时，治疗效果加成提升3%，持续8秒，可叠加3层，每0.6秒可触发1次。</div>
        </div>
      </div>
      <div class="phantom">
        <div class="phantom-block">
          <img src="https://web-static.kurobbs.com/adminConfig/30/phantom_icon/1716031670741.png">
          <div>无冠者</div>
          <div style="display: flex; align-items: center">
            <img class="phantom-icon"  src="https://web-static.kurobbs.com/adminConfig/31/element_group_pic/1716031216067.png">
            COST4
          </div>
        </div>
        <div class="phantom-block">
          <img src="https://web-static.kurobbs.com/adminConfig/30/phantom_icon/1716031670741.png">
          <div>无冠者</div>
          <div>COST3</div>
        </div>
        <div class="phantom-block phantom-block-rare4">
          <img src="https://web-static.kurobbs.com/adminConfig/30/phantom_icon/1716032074335.png">
          <div>箭簇熊</div>
          <div>COST3</div>
        </div>
        <div class="phantom-block">
          <img src="https://web-static.kurobbs.com/adminConfig/30/phantom_icon/1716031670741.png">
          <div>无冠者</div>
          <div>COST3</div>
        </div>
        <div class="phantom-block">
          <img src="https://web-static.kurobbs.com/adminConfig/30/phantom_icon/1716031670741.png">
          <div>无冠者</div>
          <div>COST3</div>
        </div>
      </div>
      <div class="skill">
        <div class="skill-block">
          <img class="skill-icon" src="https://web-static.kurobbs.com/adminConfig/36/role_skill_icon/1716031611580.png">
          <span>
            LV.5
          </span>
        </div>
        <div class="skill-block">
          <img class="skill-icon" src="https://web-static.kurobbs.com/adminConfig/36/role_skill_icon/1716031611580.png">
          <span>
            LV.5
          </span>
        </div>
        <div class="skill-block">
          <img class="skill-icon" src="https://web-static.kurobbs.com/adminConfig/36/role_skill_icon/1716031611580.png">
          <span>
            LV.5
          </span>
        </div>
        <div class="skill-block">
          <img class="skill-icon" src="https://web-static.kurobbs.com/adminConfig/36/role_skill_icon/1716031611580.png">
          <span>
            LV.5
          </span>
        </div>
        <div class="skill-block">
          <img class="skill-icon" src="https://web-static.kurobbs.com/adminConfig/36/role_skill_icon/1716031611580.png">
          <span>
            LV.5
          </span>
        </div>
        <div class="skill-block">
          <img class="skill-icon" src="https://web-static.kurobbs.com/adminConfig/36/role_skill_icon/1716031611580.png">
          <span>
            LV.5
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    Created by Karin & karin-plugin-ww
  </div>
</div>

</body>

</html>
